<form>
	<h1>Criando Pessoa</h1>
	
	<div class="form">
	  	<mat-form-field appearance="fill" [style.width.%]="30">
	    	<mat-label>Nome</mat-label>
	    	<input [(ngModel)]="pessoa.nome" name="pessoa.nome" matInput placeholder="Ex. Marcos Wesley">
	  	</mat-form-field>
	  	
	  	<mat-form-field class="data-nascimento" appearance="fill">
		    <mat-label>Data de Nascimento</mat-label>
		    <input [(ngModel)]="pessoa.dataNascimento" name="pessoa.dataNascimento" matInput [matDatepicker]="dp3" disabled>
		    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
		    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
	  	</mat-form-field>	
	</div>
	 	
  	<div class="buttons">
  		<button (click)="create()" mat-raised-button color="primary">Criar</button>
  		<button (click)="cancel()" mat-raised-button color="warn">Cancelar</button>
  	</div>
</form>
