.container {
	width: 85%;
	margin: auto;
}

.content {
	width: 100%;
	padding-bottom: 5px;
}

.nova-pessoa {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;
}

mat-car {
	margin-top: 3px;
	padding: 2px;
}

.actions {
	text-align: end;
}

.actions button {
	margin: 5px;
}